# CARLA Environment Path 
**/carlaPath.py

# Python 
__pycache__

# Jupyter Notebook
**/.ipynb_checkpoints

# Test Images
**/test_imgs

# pycharm and vscode stuff
.idea
.vscode

#data and model
model/datasets/**
# model/YOLOX
*.pth
*.pt 

#runs
**/runs/
