# CARLA Environment Path 
**/carlaPath.py

# Python 
__pycache__

# Jupyter Notebook
**/.ipynb_checkpoints

# Output Images 
**/out/**

# Test Images
**/test_imgs

# Test Notebook
**/CarlaNotebooks/

# Pycharm and VScode stuff
.idea
.vscode

# Datasets
model/datasets/**

# All model files
*.pth
*.pt 

# Model files
!**/real_ckpt.pth
!**/carla_ckpt.pth
!**/mix_ckpt.pth

!**/real_ckpt.pt
!**/carla_ckpt.pt 
!**/mix_ckpt.pt

#runs
**/runs/

**/adversarial_robustness.egg-info/